body {
    font-family: Arial, sans-serif;
    background-image: url('vkusno.gif');
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #1b1b1b;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 5px;
}

h2 {
    margin: 10px 0 5px;
}

.location {
    color: #bb2323;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.description {
    font-style: italic;
    font-size: 0.85em;
    margin-bottom: 20px;
}

.links a {
    display: block;
    background-color: #fe1c1e;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.links a:hover {
    background-color: #ff4e51;
}

@media (max-width: 600px) {
    .profile-pic {
        width: 120px;
        height: 120px;
    }

    h2 {
        font-size: 1.5em;
    }

    .location, .description {
        font-size: 0.8em;
    }
}

@media (max-width: 400px) {
    .card {
        width: 95%;
    }
}
